volumes:
  static:

services:

  backend:
    #command: > 
    #  bash -—Å "cp -r /app/collected_static/. /backend_static/static/"
    container_name: foodgram-back
    build: ./backend/
    volumes:
      - static:/backend_static

  frontend:
    container_name: foodgram-front
    build: ./frontend/
    command: cp -r /app/build/. /static/
    volumes:
      - static:/static

  nginx:
    container_name: foodgram-proxy
    build: ./nginx/
    ports:
      - 8080:80
    volumes:
      - static:/static
